.pgn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pgn-container button{
    width: 32px;
    height: 32px;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
}