.est-container{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.est-content{
    width: 1000px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.est-banner{
    display: flex;
}