.spw-container{
    width: 100%;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items:center;  
    flex-wrap: wrap;  
}
.spw-content{
    width: 1200px;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items:flex-start;  
    flex-wrap: wrap;
    gap: 25px;        
}

.spw-content button{
    width: 240px;
    height: 45px;
    padding: 1px;
    background-color: #323232;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

.spw-content button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}